.home {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.home h2 {
    margin-left: 1rem;
    margin-bottom: 0;
    text-align: left;
}

.home > h2 > span {
    color: red;
}

.home > p {
    margin-left: 1rem;
    text-align: left;
}

.home-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.home-activity-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 1rem;
}

.home-data-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    padding:0.5rem;
}

.activity-chart {
    padding: 0.5rem 1rem;
    background-color: #FBFBFB;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

.square-charts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 240px;
}

.sessions-chart {
    width: 30%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
}

.strength-chart {
    width: 30%;
    height: 100%;
    background-color: #282D30;
    border-radius: 5px;
}

.goal-chart {
    width: 30%;
    height: 100%;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not-found > p {
    font-size: 64px;
}